.main {
	height: 100%;
	flex-direction: row;
	display: flex;
	margin-top: 4rem;
	margin-left: 2rem;
}

.main::-webkit-scrollbar {
	display: none;
}

@media (max-width: 768px) {
	.main {
		flex-direction: column;
		margin: auto;
		display: contents;
		overflow: scroll;
	}
}

.mainMain {
	height: 100vh;
	overflow: hidden;
}

@media (max-width: 768px) {
	.mainMain {
		display: contents;
	}
}

.mainAlt {
	flex-direction: column;
	display: flex;
	margin-top: 4rem;
	align-items: center;
	overflow: scroll;
	overflow-y: scroll;
	height: 100%;
}

.mainAlt::-webkit-scrollbar {
	display: none;
}

.instaGrid {
	width: 40.5rem;
	overflow-y: hidden;
	overflow: scroll;
	border-radius: 6px;
	background: linear-gradient(#e5e5fb, #fff);
}

.instaGrid::-webkit-scrollbar {
	display: none;
}

@media (max-width: 768px) {
	.instaGrid {
		width: 100%;

		img {
			width: 50%;
		}
	}
}

.youtubeScrollr {
	width: 36rem;
	overflow-y: hidden;
	overflow: scroll;
	margin: 0 0 2rem 0;
	background: linear-gradient(#e5e5fb, #ffffff);
	padding: 1rem 2.5rem;
	height: 20rem;
	border-radius: 6px;
	text-align: center;
}

.youtubeScrollr::-webkit-scrollbar {
	display: none;
}

@media (max-width: 768px) {
	.youtubeScrollr {
		width: 95% !important;
		padding: 0 !important;
	}
	.vscoScrollr {
		width: 95% !important;
		padding: 0 !important;
		text-align: center;
	}
}

.vscoScrollr {
	width: 36rem;
	overflow-y: hidden;
	overflow: scroll;
	margin: 0 0 2rem 0;
	padding: 1rem 2.5rem;
	height: 20rem;
	border-radius: 6px;

	background: linear-gradient(#e5e5fb, #ffffff);
}

.vscoScrollr::-webkit-scrollbar {
	display: none;
}

.redditScrollr {
	width: 36rem;
	overflow-y: hidden;
	overflow: scroll;
	margin: 0 0 2rem 0;
	padding: 1rem 2.5rem;
	height: 20rem;
	border-radius: 6px;
	background: linear-gradient(#e5e5fb, #fff);

	a {
		text-decoration: none;
		color: rgb(44, 97, 107);
		font-family: rubik-light;
	}

	a:hover {
		color: rgb(116, 151, 158);
	}
}

.redditScrollr::-webkit-scrollbar {
	display: none;
}

@media (max-width: 768px) {
	.redditScrollr {
		padding: 1rem 1rem;
		width: 89%;

		a {
			height: 2rem;
			width: 18rem;
			contain: content;
		}
	}
}

.subLink {
	margin-left: 3rem;
}

.header {
	width: 100%;
	position: fixed;
	z-index: 23456;
	background: #ffff;
	top: 0;
}

.container {
	height: auto;
	width: auto;
	justify-self: center;
}

.instaContainer {
}

.redditContainer {
	height: 3rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	border: 1px solid #e5e5fb;
	border-radius: 15px;
	padding: 1.6rem;
	align-items: center;
	background-color: rgba(207, 229, 233, 0.116);
}

.linkThing {
	text-decoration: none;
	border-top: 6px #e5e5fb38 dashed;
	margin-left: 1rem;
}

.subLinkThing {
	text-decoration: none;
	align-self: flex-end;
	font-size: 12px;
}

.linkParent {
	flex-direction: row;
	display: flex;
}

.vscoContainer {
}

.youtubeContainer {
}

.sheetsContainer {
	display: block;
}

.instaGridImage {
	width: 18rem;
}

.instaGridImage:hover {
	opacity: 0.33;
	cursor: pointer;
}

@media (max-width: 768px) {
	.instaGridImage {
	}
}

.instaGridImage2 {
	width: 18rem;
	border-radius: 0 4px 4px 0;
}

.instaGridImage2:hover {
	opacity: 0.33;
	cursor: pointer;
}

.vscoGridImage {
	width: 11rem;
	padding: 0.33rem;
}

.vscoGridImage:hover {
	opacity: 0.33;
	cursor: pointer;
}

.thumbnail {
	width: 100px;
	height: 66px;
	border-radius: 15%;
	flex: auto;
}

.iconNail {
	font-size: 3rem;
	color: #e5e5fb;
	padding-top: 0.5rem;
}

.iconContainer {
	width: 100px;
	height: 66px;
	background-color: #ffffff;
	border-radius: 15%;
	text-align-last: center;
	border: 1px solid #e5e5fb;
	flex: none;
}

.rightSide {
	overflow-y: hidden;
	overflow: scroll;
}

.rightSide::-webkit-scrollbar {
	display: none;
}

@media (max-width: 768px) {
	.rightSide {
		width: 100%;
		overflow: hidden;
	}
}

.rightSideContainer {
	display: flex;
	flex-direction: column;
	width: 47rem;
	margin: 0 0 0 2rem;
}

@media (max-width: 768px) {
	.rightSideContainer {
		margin: 0;
		width: 100vw;
	}
}

.savedComponent {
	display: flex;
	height: 77%;
	margin-bottom: 4rem;
}

.savedComponentAlt {
	display: flex;
	height: 77%;
	margin-bottom: 4rem;
	width: 100%;
	justify-content: center;
}
