.main {
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  margin-left: 2rem;
}

.main::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    display: contents;
    overflow: scroll;
  }
}

.mainMain {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .mainMain {
    display: contents;
  }
}

.mainAlt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  overflow-y: scroll;
  height: 100%;
}

.mainAlt::-webkit-scrollbar {
  display: none;
}

.instaGrid {
  width: 36rem;
  overflow-y: hidden;
  overflow: scroll;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e5e5fb), to(#fff));
  background: linear-gradient(#e5e5fb, #fff);
}

.instaGrid::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .instaGrid {
    width: 100%;
  }
  .instaGrid img {
    width: 50%;
  }
}

.youtubeVid {
  margin: 0 0 0.25rem 0;
}

.youtubeScrollr {
  width: 39rem;
  overflow-y: hidden;
  overflow: scroll;
  margin: 0 0 2rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7faff), to(#ffffff));
  background: linear-gradient(#f7faff, #ffffff);
  padding: 1rem 2.5rem;
  height: 20rem;
  border-radius: 6px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtubeScrollr::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .youtubeScrollr {
    width: 95% !important;
    padding: 0 !important;
  }
  .vscoScrollr {
    width: 95% !important;
    padding: 0 !important;
    text-align: center;
  }
}

.youtubeMeScrollr {
  width: 39rem;
  overflow-y: hidden;
  overflow: scroll;
  margin: 0 0 2rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7faff), to(#ffffff));
  background: linear-gradient(#f7faff, #ffffff);
  padding: 1rem 2.5rem;
  height: 20rem;
  border-radius: 6px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.youtubeMeScrollr::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .youtubeMeScrollr {
    width: 95% !important;
    padding: 0 !important;
  }
}

.vscoScrollr {
  width: 39rem;
  overflow-y: hidden;
  overflow: scroll;
  margin: 0 0 2rem 0;
  padding: 1rem 2.5rem;
  height: 20rem;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7faff), to(#ffffff));
  background: linear-gradient(#f7faff, #ffffff);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vscoScrollr::-webkit-scrollbar {
  display: none;
}

.redditScrollr {
  width: 39rem;
  overflow-y: hidden;
  overflow: scroll;
  margin: 0 0 2rem 0;
  padding: 1rem 2.5rem;
  height: 20rem;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f7faff), to(#fff));
  background: linear-gradient(#f7faff, #fff);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.redditScrollr a {
  text-decoration: none;
  color: #2c616b;
  font-family: rubik-light;
}

.redditScrollr a:hover {
  color: #74979e;
}

.redditScrollr::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .redditScrollr {
    padding: 1rem 1rem;
    width: 89%;
  }
  .redditScrollr a {
    height: 2rem;
    width: 18rem;
    contain: content;
  }
}

.subLink {
  margin-left: 3rem;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 23456;
  background: #ffff;
  top: 0;
}

.container {
  height: auto;
  width: auto;
  -ms-grid-column-align: center;
      justify-self: center;
}

.redditContainer {
  height: 3rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #2c616b;
  border-radius: 15px;
  padding: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.linkThing {
  text-decoration: none;
  border-top: 6px #2c616b dashed;
  margin-left: 1rem;
}

.subLinkThing {
  text-decoration: none;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 12px;
}

.linkParent {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sheetsContainer {
  display: block;
}

.instaGridImage {
  width: 18rem;
}

.instaGridImage:hover {
  opacity: 0.33;
  cursor: pointer;
}

.instaGridImage2 {
  width: 18rem;
  border-radius: 0 4px 4px 0;
}

.instaGridImage2:hover {
  opacity: 0.33;
  cursor: pointer;
}

.vscoGridImage {
  width: 13.1rem;
  padding: 0.33rem;
}

.vscoGridImage:hover {
  opacity: 0.33;
  cursor: pointer;
}

.thumbnail {
  width: 100px;
  height: 66px;
  border-radius: 15%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.iconNail {
  font-size: 3rem;
  color: #50a5b4;
  padding-top: 0.5rem;
}

.iconContainer {
  width: 100px;
  height: 66px;
  background-color: #ffffff;
  border-radius: 15%;
  text-align-last: center;
  border: 1px solid #2c616b;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.rightSide {
  overflow-y: hidden;
  overflow: scroll;
  padding: 0 0 0 4rem;
}

.rightSide::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .rightSide {
    width: 100%;
    overflow: hidden;
  }
}

.rightSideContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50rem;
}

@media (max-width: 768px) {
  .rightSideContainer {
    margin: 0;
    width: 100vw;
  }
}

.savedComponent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 77%;
  margin-bottom: 4rem;
}

.savedComponentAlt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 77%;
  margin-bottom: 4rem;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.module.css.map */